<p>タイトル：<%= @memo["title"] %></p>
<p>内容：<%= @memo["content"] %></p>
<a href="/memos/<%= @id %>/edit">編集</a>
<form action="/memos/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">削除</button>
</form>
